* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: transparent;
}

#workspaces button {
    padding: 5px;
    margin: 0px 0px;
    background-color: transparent;
    color: #ffbb94;
}

#workspaces button.active {
    padding: 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray {
    padding: 2px 10px;
    color: #ffffff;
    border-radius: 2px;
}
#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
    font-family: monospace;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
}

#battery {
    background-color: transparent;
    font-weight: bold;
    font-family: monospace;
    font-size: 18px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
    border-radius: 10;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background-color: transparent;
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: transparent;
    color: white;
    font-size: 16px;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #ffbb94;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#custom-power {
    background-color: transparent;
    font-size: 18px;
}

#custom-power.Gtkmenu {
    background-color: black;
}

#custom-updates {
	background-color: transparent;
    font-size: 18px;
}

menu {
    background-color: white;
    color: black;
    padding: 0px;
    margin: 0px;
}

menu menuitem{
    font-weight: bold;
    padding: 10px;
    background-color: transparent;
    border: 4px solid transparent;
    border-radius: 4px;
}

menu menuitem:hover{
    color: black;
    border: 4px solid rgb(255, 59, 59);
    background-color: transparent;
}